    body{
    	background: #F0D31A;
    }


    p{
            font-family: 'helvetica', serif, arial ;
            color: #000000;            
            font-weight: lighter;
            font-size: auto;
        }